  <div class="text-center mb-3 mt-5">
    <h1>Create Tourist Spots</h1>
  </div>
  
  <div style="width: 80%; margin:auto;">
    <%= render 'form', tourist_spot:@tourist_spot, submit_button_text: 'Create' %>
  </div>
  