/*ナビバー設定*/
.navbar-custom {
  background-color: #069; /* 濃いブルー */
}
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff; /* 白色 */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #87cefa; /* ホバー時の色 */
  text-decoration: underline; /* ホバー時の下線 */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white; /* ボーダーを白くする */
}

.fa-sign-in-alt {
    margin-right: 5px; /* アイコンとテキストの間にスペースを追加 */
}

/*ナビバー設定完了*/

html, body{
  min-height: 100%;
  background-color: #f0f8ff; /* ライトブルー */
  font-family: Arial, sans-serif;
  line-height: 1.1;
}

.main-content {
  background-color: #f0f8ff; /* ライトブルー */
  padding: 20px;
}


.footer {
  background-color: #069;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* 高さを調整 */
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  z-index: 1000; /* フッターのz座標を高く設定 */
}

.footer p {
  margin: 0; /* <p> 要素のデフォルトマージンをリセット */
}

h1, h2 {
color: #333;
}

.feature {
margin-bottom: 30px;
}

/*モーダル*/
/* モーダル全体のスタイル */
#modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed;
  z-index: 1000; /* 画面上の他の要素よりも前面に表示 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* コンテンツが溢れた場合にスクロール可能に */
  background-color: rgba(0,0,0,0.5); /* 半透明の黒背景 */
}

/* モーダルコンテンツのスタイル */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 上下のマージン */
  width: 80%; /* モーダルの幅 */
  max-width: 600px; /* モーダルの最大幅 */
  border-radius: 10px; /* 角を丸くする */
}

/* モーダルヘッダーのスタイル */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* モーダルを閉じるボタンのスタイル */
.modalClose {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modalClose:hover,
.modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* モーダルボディのスタイル */
.modal-body {
  margin-top: 10px;
}


/*画像プレビュー*/
.preview-img {
  margin-right: 10px;
}

.remove-btn {
  margin-left: 5px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

/*カード*/
.custom-card {
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem; /* マージンを調整 */
  background-color: white;
}

.custom-card-body {
  padding: 20px;
}

.custom-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.custom-card-text {
  font-size: 1rem;
  line-height: 1.5;
}

.custom-icon {
  color: #17a2b8; /* アイコンの色を青色に設定 */
  margin-right: 1.5rem; /* マージンを調整 */
}

.form-label{
  font-size: large;
  font-weight: bold;
}

/*並び替えボタンの装飾*/
.btn-white {
  background-color: white;
  color: #495057;
  padding: 6px;
  border-radius: 10px; 
  font-size: small;
  border: 1px solid;
  text-decoration: none;
}

.btn-white:hover {
  background-color: #e9ecef;
  color: #212529;
  padding: 6px;
  border-radius: 10px; 
  font-size: small;
  border: 1px solid;
  text-decoration: none;
}

/*お気に入りアイコン*/
.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.favorite-button i {
  font-size: 1.5rem;
  color: #ff0000; /* ハートマークの色 */
}

.favorite-button .filled {
  color: #ff0000; /* 塗りつぶされたハートの色 */
}

.favorite-button .unfilled {
  color: #cccccc; /* 塗りつぶされていないハートの色 */
}
