
/*ナビバー設定*/
.navbar-custom {
  background-color: #069; /* 濃いブルー */
}
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff; /* 白色 */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #87cefa; /* ホバー時の色 */
  text-decoration: underline; /* ホバー時の下線 */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white; /* ボーダーを白くする */
}

.fa-sign-in-alt {
    margin-right: 5px; /* アイコンとテキストの間にスペースを追加 */
}

/*ナビバー設定完了*/

body{
    min-height: 100%;
    background-color: #f0f8ff; /* ライトブルー */
    font-family: Arial, sans-serif;
line-height: 1.1;
}

.main-content {
  background-color: #f0f8ff; /* ライトブルー */
  padding: 20px;
}


.footer {
  background-color: #069;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* 高さを調整 */
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
}

.footer p {
  margin: 0; /* <p> 要素のデフォルトマージンをリセット */
}

h1, h2 {
color: #333;
}

.feature {
margin-bottom: 30px;
}

/*リストドロップダウン設定*/
.select-dropdown  {
  max-height: 200px !important; /* ドロップダウンの最大高さを設定 */
  overflow-y: auto !important; /* コンテンツが最大高さを超えるとスクロールバーを表示 */
}